USE [master]
GO
/****** Object:  Database [dbRental]    Script Date: 10/16/2018 00:25:58 ******/
CREATE DATABASE [dbRental] ON  PRIMARY 
( NAME = N'dbRental', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\dbRental.mdf' , SIZE = 2304KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'dbRental_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\dbRental_log.LDF' , SIZE = 576KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [dbRental].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [dbRental]
GO
/****** Object:  Table [dbo].[orderan]    Script Date: 10/16/2018 00:26:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[orderan](
	[RequestId] [int] NOT NULL,
	[NameRequestor] [char](30) NOT NULL,
	[RequestorId] [char](15) NOT NULL,
	[Unit] [char](15) NOT NULL,
	[DateIssue] [datetime] NOT NULL,
	[UnitDestination] [char](15) NOT NULL,
	[acRegix] [char](15) NOT NULL,
	[Transportation] [char](30) NOT NULL,
	[Phone] [char](15) NOT NULL,
	[Instruction] [text] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RequestId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
