USE [master]
GO
/****** Object:  Database [dbPengajuan]    Script Date: 10/09/2018 18:31:28 ******/
CREATE DATABASE [dbPengajuan] ON  PRIMARY 
( NAME = N'dbPengajuan', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\dbPengajuan.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'dbPengajuan_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\dbPengajuan_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [dbPengajuan].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [dbPengajuan]
GO
/****** Object:  Table [dbo].[Proposal]    Script Date: 10/09/2018 18:31:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Proposal](
	[PID] [nchar](10) NOT NULL,
	[NamaPlksna] [char](35) NOT NULL,
	[Bidang] [char](15) NOT NULL,
	[Jumlah] [int] NOT NULL,
	[Bentuk] [char](15) NOT NULL,
	[Keperluan] [varchar](50) NOT NULL,
	[Tanggal] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[PID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
